.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #ffae03;
  }
  
  .logo {
    font-size: 1.5em;
    color: #000100;
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  .navbar li a {
    text-decoration: none;
    color: #000100;
    transition: color 0.2s;
  }
  
  .navbar li a:hover {
    color: #ddd;
  }
  